*.tfstate
*.tfstate.*
*.tfvars

secrets/
.env
*.pem
*.key
id_rsa*
*secret*.yaml

.terraform/
node_modules/
__pycache__/
*.pyc

.DS_Store
Thumbs.db
*.swp
*.swo

.vscode/
.idea/

kubeseal
*.tar
*.tar.gz
